<div class="primary-header">
    <img class="logo" src="assets/images/logo-white-blue.png" alt="">
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav>
        <ul class="nav-container">
            <li>
                <a href="#">HOME</a>
            </li>
            <li>
                <a href="#about">ABOUT</a>
            </li>
            <li>
                <a routerLink="resources" routerLinkActive="activebutton" ariaCurrentWhenActive="page">RESOURCES</a>
            </li>
            <li>
                <a href="#contact">CONTACT</a>
            </li>
            <li>
                <a href="https://www.facebook.com/groups/1409669316590517">
                    <img src="assets/images/icons/icons8-facebook-40.png" alt="">
                </a>
            </li>
        </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
    </label>
</div>
