<div class="primary-header">
    <img class="logo" src="assets/images/logo-white-blue.png" alt="">
    <nav>
        <ul class="nav-container">
            <li>
                <a href="#">HOME</a>
            </li>
            <li>
                <a href="#">ABOUT</a>
            </li>
            <li>
                <a href="#">RESOURCES</a>
            </li>
            <li>
                <a href="#">CONTACT</a>
            </li>
            <li>
                <a href="https://www.facebook.com/groups/1409669316590517">
                    <img src="assets/images/icons/icons8-facebook-40.png" alt="">
                </a>
            </li>
        </ul>
    </nav>
</div>
