<div class="resources">
  <ul>
    <li>Youtubers
      <ul>
        <li>
          <a href="https://www.youtube.com/@PechPongTT">Pech Pong</a>
          - A USA professional table tennis player & coach & 2 time Panamanian national champion. Some of the best instructional videos around for beginners and intermediate players.  He also has quite a few match analysis videos that are great for more advanced competitors.
        </li>
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Syh0xlQ0vUo?si=-MD3k1CFuMHflTZd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <li>
          <a href="https://www.youtube.com/@OlavKTTT">Olav Kosolosky</a>
          - An up and comming professional international table tennis player who has beaten many players ranked in the top 100 in the world.  The best videos I have found describing advanced tactics, body movement, and overall form that professional players use.
        </li>
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/HeH_6tM6tHc?si=eeu5E78CQusEIkEx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </ul>
    </li>
    <li>Blogs
      <ul>
        <li>
          <a href="http://www.tabletenniscoaching.com/">Larry Hodges Blog & Table Tennis Coaching</a>
        </li>
        <li>
          <a href="https://www.tabletennisdaily.com/forum/">Table Tennis Daily</a>
        </li>
      </ul>
    </li>
    <li>Shop
      <ul>
        <li>
          <a href="https://www.paddlepalace.com/">Paddle Palace</a>
        </li>
        <li>
          <a href="https://www.megaspin.net/">Megaspin</a>
        </li>
      </ul>
    </li>
    <li>USATT
      <ul>
        <li>
          <a href="https://www.usatt.org/">USATT</a>
          - The governing body for United States Table Tennis.  Interested in getting a national ranking to play in tournaments? Sign up here.
        </li>
      </ul>
    </li>
</ul>
</div>