<app-navbar></app-navbar>
<section class="main">
  <div class="logo">
    <img class="logo" src="assets/images/logo-light.png" alt="">
  </div>
  <h1>Welcome to the Portland Maine Table Tennis Club!</h1>
  <h1>Welcome to the Portland Maine Table Tennis Club!</h1>
  <!-- <p class="about">Welcome to the Portland Maine Table Tennis Club.  This club strives to create a vibrant community that embraces players of all ages and skill levels, from beginners eager to learn the art of table tennis to advanced players seeking challenges. At PMTTC, we believe that the power of the paddle transcends boundaries, bringing people together in the spirit of sportsmanship and shared passion. Whether you're looking to improve your game, make new friends, or just have a good time, our doors are wide open for you. Join us on this exciting new journey as we try and grow the table tennis community in Maine..</p> -->
</section>
<div class="eecc"></div>
<router-outlet/>