<section class="main">
  <div class="card">
    <p class="p1">Portland Maine<br>Table Tennis Club</p>
    <hr>
    <p class="p2">Serve, Spin, Smash, And Elevate Your Game</p>
  </div>
</section>
<div id="about-us"></div>
<section class="about">
  <h1>About Us</h1>
  <hr>
  <p>Welcome to the Portland Maine Table Tennis Club.  This club strives to create a vibrant community that embraces players of all ages and skill levels, from beginners eager to learn the art of table tennis to advanced players seeking challenges. At PMTTC, we believe that the power of the paddle transcends boundaries, bringing people together in the spirit of sportsmanship and shared passion. Whether you're looking to improve your game, make new friends, or just have a good time, our doors are wide open for you. Join us on this exciting new journey as we try and grow the table tennis community in Maine.</p>
</section>
<section class="club-info">
  <div class="info-container">
    <div class="inner-boarder">
    <div class="header">
      <h1>Club Information</h1>
      <hr>
    </div>
    <ul>
      <li class="list-header">Getting Here</li>
      <ul>
        <li class="list-details"> We are located within the East End Community Center Located at 195 North Street in Portland, Maine.</li>
        <li class="list-details"> The East End Community Center is part of The East End Community School and is located on Munjoy Hill. The closest 295 highway exits are exit 7 going northbound and exit 8 heading southbound.  The community center is a just couple minute drive away from each exit.</li>
        <li class="list-details"> There is plenty of street parking directly outside of the community center. Please use the side entrance to the building which can be seen from North Street. There are some small signs set up to direct you to the table tennis room.</li>
      </ul>
      <li class="list-header">The Space</li>
      <ul>
        <li class="list-details"> We are currently setting up tables and playing in the stage room between the gymnasium and the cafeteria.</li>
        <li class="list-details"> This room has space for 3 tables.</li>
        <li class="list-details"> As regular attendance to the club grows, there is a plan to rent a larger room that has space for 6 tables.</li>
         </ul>
      <li class="list-header">Time</li>
      <ul>
        <li class="list-details"> We play Monday nights from 6pm-8pm.</li>
      </ul>
      <li class="list-header">Price</li>
      <ul>
        <li class="list-details"> $5 per night for Portland residents.</li>
        <li class="list-details"> $10 per night for non-Portland residents.</li>
      </ul>
      <li class="list-header">Training</li>
      <ul>
        <li class="list-details"> The club has a Butterfly Amicus Prime robot available for training.  On request it can set up if there is an open table.</li>
        <li class="list-details"> We currently do not have an affiliated professional coach; however, our club organizer Taylor Wilk has a USATT rank of 1517 and is well suited to train beginners or recreational players looking to take their game to the next level.  He is always available for quick tips and short training sessions.  If you are interested in something more formal please contact him at 207-318-9187.</li>
      </ul>
      <li class="list-header" id="contact">Contact</li>
      <ul>
        <li class="list-details"> If you have any question please reach out to the club organizer Taylor Wilk.</li>
        <li class="list-details"> Phone: <a href="tel:2073189187">207-318-9187</a></li>
        <li class="list-details"> Email <a href="mailto:tman31888@gmail.com">tman31888&#64;gmail.com</a></li>
      </ul>
    </ul>
  </div>
  </div>  
</section>
