:root {
  --primary: #14213d;
  --primary-text: 14213d; 
  --secondary: #fca311;
  --tertiary: #e5e5e5;
  // --black: #141414;
  --black: #0c0c0c;
  --white: #ffffff;
}

Body, html, * {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--primary);
  // font-family: "Montserrat", sans-serif;
  // font-optical-sizing: auto;
  // font-style: normal; 
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  scroll-behavior: smooth;

  
}